<app-navbar></app-navbar>

<div class="container">
    <h4>Detalle de compra</h4>

    <h5>Fecha: <small>{{ordenCompra.fecha | date: 'dd/MM/yyyy HH:mm'}}</small></h5>
    <h5>Monto: <small>${{ordenCompra.getMontoVenta() | number:'1.0':'es-UY'}}</small></h5>

    <div class="row">
        <div class="col-sm-4 py-2" *ngFor="let item of ordenCompra.items">

            <div class="card h-100 text-center" style="width: 18rem;">
                <img [src]="API_URL_IMAGE + item.producto.imagenes[0].nombre " class="card-img-top" alt="...">
                <div class="card-body">
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h5>{{item.producto.nombre}}</h5></li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    ${{item.precio | number:'1.0':'es-UY'}}
                    <span class="badge badge-secondary">{{item.cantidad}} Un.</span>
                  </li>
                </ul>
            </div>

        </div>
    </div>
</div>