<app-navbar [verHeader]="false"></app-navbar>

<div class="container pt-5" >

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading ml-3" id="buscar"  > 
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1" style="text-decoration: none; color: lightslategray;">Filtros de búsqueda (+)</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheckOfertas" [(ngModel)]="ofertas">
                    <label class="custom-control-label" for="customCheckOfertas">Ofertas</label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheckDestacados" [(ngModel)]="destacados">
                    <label class="custom-control-label" for="customCheckDestacados">Destacados</label>
                </div>

                <div class="row d-flex justify-content-left">
                    <div class="p-2">
                        <label>Categoría</label>
                    </div>
                    <div class="p-2">
                        <select class="custom-select" (change)="selectFiltro($event.target.value)" [(ngModel)]="filtroCategoria">
                            <option value="undefined" selected >Elige una categoría</option>
                            <option [value]="categoria.id" *ngFor="let categoria of categorias;">{{categoria.nombre}}</option>
                        </select>
                    </div>
                    <div class="p-2">
                        <label class="pr-2">Talle</label>
                    </div>
                    <div class="p-2">
                        <select class="custom-select" (change)="selectTalle($event.target.value)" [(ngModel)]="filtroTalle">
                            <option value="undefined" selected >Elige un talle</option>
                            <option [value]="talle.descripcion" *ngFor="let talle of talles;">{{talle.descripcion}}</option>
                        </select>
                    </div>
                </div>              

                <div class="d-flex flex-row pt-3 pt-3">
                    <label class="pr-2">Precio hasta</label>
                    <input type="range" name="rangeInput" min="0" max="10000" step="100" [(ngModel)]="filtroPrecioHasta" onchange="updateTextInput(this.value);">
                    <input type="text" id="filtroPrecio" value="5000" style="width: 50px; border: none;">
                    
                    <!--input type="range" name="ageInputName" id="ageInputId" value="24" min="1" max="100" oninput="ageOutputId.value = ageInputId.value">
                    <output name="ageOutputName" id="ageOutputId">24</output -->
                        
                </div>

                <div class="row d-flex justify-content-left">
                    <div class="p-2">
                        <label>Odernar por:</label>
                    </div>
                    <div class="p-2">
                        <select class="custom-select" (change)="selectFiltro($event.target.value)" [(ngModel)]="filtroCategoria">
                            <option value="-1" selected ></option>
                            <option value="0" selected >Menor precio</option>
                            <option value="1" selected >Mayor precio</option>
                        </select>
                    </div>
                </div>   
                

                <div class="mt-5 mb-5 d-flex justify-content-center col-6">
                    <button type="button" (click)="buscar(true)" class="cart_button"><span class="fa fa-search mr-2"></span> Buscar </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row container" *ngIf="articulos.length > 0">

    <h2 style="margin-bottom: 40px;" class="col-12" *ngIf="entroPor == 'undefined'">Resultados de la búsqueda</h2>
    <h2 style="margin-bottom: 40px;" class="col-12" *ngIf="entroPor == 'Ofertas'">Estas son nuestras ofertas</h2>
    <h2 style="margin-bottom: 40px;" class="col-12" *ngIf="entroPor == 'Destacados'">Estos son nuestros destacados</h2>

    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let articulo of articulos">
        
        <div class="product-grid2 p-2" >

            <div class="product-image2 details">
                <img class="pic-1" width="40px;" src="../../../assets/articulos{{ articulo.imagenes[0].url }}" />
                <img class="pic-2" width="40px;" *ngIf="articulo.imagenes.length > 1" src="../../../assets/articulos{{ articulo.imagenes[1].url }}" />
                <img class="pic-2" width="40px;" *ngIf="articulo.imagenes.length == 1" src="../../../assets/articulos{{ articulo.imagenes[0].url }}" />
        
                <ul class="social">
                    <li><a href="#" data-tip="Ver" [routerLink]="['/articulo', articulo.id]"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#" data-tip="Ver despues"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="#" data-tip="Agregar al carrito" [routerLink]="['/articulo', articulo.id]"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                <a class="add-to-cart" [routerLink]="['/articulo', articulo.id]" >Agregar al carrito</a>
            </div>
            <div class="product-content">
                <h3 class="title">{{ articulo.nombre }}</h3>
                <span class="price">${{ articulo.precioVenta }}</span>
            </div>
        </div>

    </div>

    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()" >

    </div>

    <div class="d-flex justify-content-center mb-2" *ngIf="! fin">
        <div class="spinner-grow" role="status">      
        </div>
        <label class="ml-2">Cargando más ...</label>
    </div>    

</div>
<div *ngIf="fin" class="d-flex justify-content-center">
    <p  class="text-info">No hay más resultados para mostrar.</p>
</div>


<app-footer></app-footer>
