<app-navbar [verHeader]="false"></app-navbar>

<div class="container">
    <div >
        
        <div class="row m-2 justify-content-center">
            <div class="col-2">
                <strong class="responsive-text">Artículo</strong>
            </div>
            <div class="col-2">                
            </div>
            <div class="col-2 text-right">
                <strong class="responsive-text">Cantidad</strong>
            </div>
            <div class="col-2 text-right">
                <strong class="responsive-text">Precio</strong>
            </div>
            <div class="col-2 text-right">
                <strong class="responsive-text">Total</strong>
            </div>
            <div class="col-2">
                <strong></strong>
            </div>
        </div>

        <div class="row m-2 justify-content-center" *ngFor="let item of carrito.items; let i = index;">
            <div class="col-2">
                <img class="thumbnail" src="../../../assets/articulos{{item.producto.imagenes[0].url}}" style="width: 72px;">
            </div>
            <div class="col-2">
                <label>{{item.producto.nombre}}</label>
            </div>
            <div class="col-2 text-right">
                <label>{{item.cantidad}}</label>
            </div>
            <div class="col-2 text-right">
                <label>{{item.precio}}</label>
            </div>
            <div class="col-2 text-right">
                <label>{{item.precio * item.cantidad}}</label>
            </div>
            <div class="col-2">
                <button type="button" (click)="eliminar(i);" class="btn btn-danger"><span class="fa fa-trash"></span> </button>
            </div>
            <hr style="border: 1px solid lightgray; margin: 3px; width: 100%;">
        </div>
        
        <div class="row m-2 justify-content-center">
            <div class="col-7"> </div>
            <div class="col-3 text-right">     
                Subtotal           
            </div>
            <div class="col-2 text-right">
                <strong>${{getSubtotal()}}</strong>
            </div>
        </div>
        <div class="row m-2 justify-content-center">
            <hr style="border: 1px solid lightgray; margin: 3px; width: 100%;">
        </div>
        <div class="row m-2 justify-content-center">
            <div class="col-7"></div>
            <div class="col-3 text-right">     
                Descuentos           
            </div>
            <div class="col-2 text-right">
                <strong>$0</strong>
            </div>
        </div>
        <div class="row m-2 justify-content-center">
            <hr style="border: 1px solid lightgray; margin: 3px; width: 100%;">
        </div>
        <div class="row m-2 justify-content-center">
            <div class="col-7"></div>
            <div class="col-3 text-right">     
                Total           
            </div>
            <div class="col-2 text-right">
                <strong>${{getSubtotal()}}</strong>
            </div>
        </div>
    </div>

    <div class="row m-2">
        <div class="col-6">  
            <button type="button" [routerLink]="['/home']" class="cart_button"><span class="fa fa-shopping-bag mr-2"></span> Continuar de compras </button>
        </div>   
        <div class="col-6">  
            <button type="button"  [routerLink]="['/checkout']" class="cart_button"> Finalizar compra <span class="fa fa-thumbs-up"></span></button>
        </div>                
    </div>
</div>

<app-footer></app-footer>