<app-navbar [verHeader]="false"></app-navbar>
<div class="container">
    <div class="row">
        
        <div class="row w-100">
            <div class="col-2">
                <strong>Artículo</strong>
            </div>
            <div class="col-2">                
            </div>
            <div class="col-2 text-right">
                <strong>Cantidad</strong>
            </div>
            <div class="col-2 text-right">
                <strong>Precio</strong>
            </div>
            <div class="col-2 text-right">
                <strong>Total</strong>
            </div>
            <div class="col-2">
                <strong></strong>
            </div>
        </div>

        <div class="row w-100" *ngFor="let articulo of carrito.items; let i = index;">
            <div class="col-2">
                <img class="thumbnail" src="../../../assets/articulos{{articulo.urlImagen}}" style="width: 72px;">
            </div>
            <div class="col-2">
                <label>{{articulo.nombre}}</label>
            </div>
            <div class="col-2 text-right">
                <label>{{articulo.cantidad}}</label>
            </div>
            <div class="col-2 text-right">
                <label>{{articulo.precio}}</label>
            </div>
            <div class="col-2 text-right">
                <label>{{articulo.precio * articulo.cantidad}}</label>
            </div>
            <div class="col-2">
                <button type="button" (click)="eliminar(i);" class="btn btn-danger"><span class="fa fa-trash"></span> </button>
            </div>
            <hr style="border: 1px solid lightgray; margin: 3px; width: 100%;">
        </div>
        
        <div class="row w-100">
            <div class="col-7"> </div>
            <div class="col-3 text-right">     
                Subtotal           
            </div>
            <div class="col-2 text-right">
                <strong>${{getSubtotal()}}</strong>
            </div>
        </div>
        <div class="row w-100">
            <hr style="border: 1px solid lightgray; margin: 3px; width: 100%;">
        </div>
        <div class="row w-100">
            <div class="col-7"></div>
            <div class="col-3 text-right">     
                Descuentos           
            </div>
            <div class="col-2 text-right">
                <strong>$0</strong>
            </div>
        </div>
        <div class="row w-100">
            <hr style="border: 1px solid lightgray; margin: 3px; width: 100%;">
        </div>
        <div class="row w-100">
            <div class="col-7"></div>
            <div class="col-3 text-right">     
                Total           
            </div>
            <div class="col-2 text-right">
                <strong>${{getSubtotal()}}</strong>
            </div>
        </div>
    </div>

    <div class="row m-5">
        <div class="col-6">  
            <button type="button" [routerLink]="['/home']" class="cart_button"><span class="fa fa-shopping-bag mr-2"></span> Continuar de compras </button>
        </div>   
        <div class="col-6">  
            <button type="button"  [routerLink]="['/checkout']" class="cart_button"> Finalizar compra <span class="fa fa-thumbs-up"></span></button>
        </div>                
    </div>
</div>

<app-footer></app-footer>