<app-navbar></app-navbar>


<div class="cotn_principal">
    <div class="cont_centrar">

        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">

                        <h2>INGRESAR</h2>
                        <p></p>
                        <button class="btn_login" onclick="cambiar_login()">INGRESAR</button>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>REGISTRO</h2>


                        <p></p>

                        <button class="btn_sign_up" onclick="cambiar_sign_up()">REGISTRARSE</button>
                    </div>
                </div>
            </div>


            <div class="cont_back_info">
                <div class="cont_img_back_grey">
                    <img src="" alt="" />
                </div>

            </div>
            <div class="cont_forms">
                <div class="cont_img_back_">
                    <img src="" alt="" />
                </div>
                <div class="cont_form_login">
                    <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">X</i></a>
                    <h2>INGRESAR</h2>
                    <input type="text" placeholder="E-Mail" [(ngModel)]="usuario.email"/>
                    <input type="password" placeholder="Contraseña" [(ngModel)]="usuario.password"/>
                    <button class="btn_login" (click)='login()'>INGRESAR</button>
                </div>
                
                <div class="cont_form_sign_up">
                    <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">X</i></a>
                    <h2>REGISTRO</h2>
                    <input type="text" placeholder="Nombre" [(ngModel)]="usuario.nombre"/>
                    <input type="text" placeholder="E-Mail" [(ngModel)]="usuario.email"/>
                    <input type="password" placeholder="Contraseña" [(ngModel)]="usuario.password" />
                    <input type="password" placeholder="Repita la contraseña" [(ngModel)]="usuario.confirmPassword" />
                    <button class="btn_sign_up" (click)='signUp()'>REGISTRARSE</button>

                </div>

            </div>

        </div>
    </div>
</div>