<app-navbar [verHeader]="false"></app-navbar>

<form (ngSubmit)="confirmarCompra(form.value)" #form="ngForm" novalidate="">
    
    
    <div class="container">
        
        <div class="row">
          
            <div class="col-12 col-md-6"> 
                <h1>Detalle de facturación</h1>
                <hr>
                <div class="form-group col-12">
                    <label for="formGroupNombre">Nombre</label>
                    <input type="text" class="form-control" id="formGroupNombre" placeholder="Nombre" name="nombre" ngModel #nombre="ngModel">
                    <div *ngIf="nombre.invalid && nombre.touched" class="alert alert-danger">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group  col-12">
                    <label for="formGroupApellido">Apellido</label>
                    <input type="text" class="form-control" id="formGroupApellido" placeholder="Apellido" name="apellido" ngModel #apellido="ngModel">
                    <div *ngIf="apellido.invalid && apellido.touched" class="alert alert-danger">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group  col-12">
                    <label for="formGroupEMail">eMail</label>
                    <input type="text" class="form-control" id="formGroupEMail"  type="email" name="email" ngModel #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="eMail">
                    <div *ngIf="email?.errors?.required && email.touched" class="alert alert-danger">
                        Dato requerido
                    </div>
                    <div *ngIf="email?.errors?.pattern" class="alert alert-danger">
                        El eMail ingresado no cumple con el formato de correos
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="formGroupTelefono">Teléfono</label>
                    <input type="text" class="form-control" id="formGroupTelefono" placeholder="Teléfono" name="telefono" ngModel #telefono="ngModel">
                    <div *ngIf="telefono.invalid && telefono.touched" class="alert alert-danger">
                        Dato requerido
                    </div>
                </div>
    
                <h1>Datos del envío</h1>
                <div class="form-group col-12">
                    <label for="formGroupDepartamento">Departamento</label>
                    <input type="text" class="form-control" id="formGroupDepartamento" placeholder="Departamento" name="departamento" ngModel #departamento="ngModel">
                </div>
                <div class="form-group col-12">
                    <label for="formGroupDirección">Dirección</label>
                    <input type="text" class="form-control" id="formGroupDirección" placeholder="Dirección" name="direccion" ngModel #direccion="ngModel">
                    <div *ngIf="direccion.invalid && direccion.touched" class="alert alert-danger">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="formGroupBarrio">Barrio / Localidad</label>
                    <input type="text" class="form-control" id="formGroupBarrio" placeholder="Barrio / Localidad" name="barrio" ngModel #barrio="ngModel">
                    <div *ngIf="barrio.invalid && barrio.touched" class="alert alert-danger">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group col-12">
                    <h3>Información adicional</h3>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Notas que quieras agregar al pedido" name="notas" ngModel #notas="ngModel"></textarea>
                </div>
            </div>
     
          
            <div class="col-12 col-md-6 m-0 p-5" style="border: 2px dotted lightgray; border-radius: 5px;">
                <h4>Tu orden</h4>
                <table class="table table-reflow mt-5">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th class="text-right">Cantidad</th>
                            <th class="text-right">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of carrito.items">
                            <td>{{item.producto.nombre}}</td>
                            <td class="text-right">{{item.cantidad}}</td>
                            <td class="text-right">{{item.precio * item.cantidad}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-reflow">
                    <thead>
                        <tr>
                            <th>Subtotal</th>
                            <th class="text-right">${{getSubtotal()}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total</td>
                            <td class="text-right">${{getSubtotal()}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <h4>Selecciona la forma de pago</h4>
                <input type="radio" class="custom-control-input" value="0" checked name="formaDePago" >
                
                <div class="custom-control custom-checkbox col-12">
                    <input type="radio" class="custom-control-input" id="checkTransferenciaBancaria" name="formaDePago" (click)="seleccionarFormaDePago(1);">
                    <label class="custom-control-label" for="checkTransferenciaBancaria">Transferencia bancaria</label>
                    <p> <small>Confirma tu pago realizando una transferencia a nuestra cuenta bancaria. 
                       Usa el número del pedido como referencia de pago. 
                       Tu pedido no se procesará hasta que se haya recibido el importe en nuestra cuenta.
                       Ten en cuenta que si es desde otro Banco la transferencia puede demorar dias.</small> </p>
                </div>
    
                <div class="custom-control custom-checkbox col-12">
                    <input type="radio" class="custom-control-input"  id="checkGiro" name="formaDePago" (click)="seleccionarFormaDePago(2);">
                    <label class="custom-control-label" for="checkGiro">Giro Abitab o RedPagos</label>
                    <p><small>Realiza tu pago directamente en la redes de Cobranza Abitab o Red Pagos. 
                        Tu pedido se procesará una vez que envíes el comprobante vía WhatsApp al 094 061311.</small></p>
                </div>
    
                <div class="custom-control custom-checkbox col-12">
                    <input type="radio" class="custom-control-input" id="checkMP" name="formaDePago" (click)="seleccionarFormaDePago(3);">
                    <label class="custom-control-label" for="checkMP">MercadoPago</label>
                    <P><small>Paga con la tarjeta que quieras a través de Mercado Pago.</small></P>
                </div>
            </div>
         
        </div>
    </div>
    
    
    <div class="d-flex flex-row justify-content-center mb-5 mt-5">
        <div class="col-6 col-md-4">  
            <button type="button" [routerLink]="['/home']" class="cart_button"><span class="fa fa-shopping-bag mr-2"></span> Continuar de compras </button>
        </div> 
        <div class="col-6 col-md-4">  
            <button class="cart_button" type="submit" [disabled]="!form.form.valid">Confirmar compra</button>
        </div> 
    </div>
  </form>

  
<app-footer></app-footer>