<app-navbar></app-navbar>

<div class="container">

    <h3 class="m-3">Todos los Articulos</h3>

    <div class="container pt-5">

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading ml-3" id="buscar">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1" style="text-decoration: none; color: lightslategray; font-size: x-large;">Filtros de búsqueda<img src="../../../../assets/img/filtro.png" width="24px" alt="filtros de búsqueda" class="ml-2"></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <hr>
                    <div class="row">
                        <!-- Checkbox de Ofertas -->
                        <div class="col-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheckOfertas" [(ngModel)]="ofertas">
                                <label class="custom-control-label" for="customCheckOfertas">Ofertas</label>
                            </div>
                        </div>
                        <!-- Checkbox de Destacados -->
                        <div class="col-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheckDestacados" [(ngModel)]="destacados">
                                <label class="custom-control-label" for="customCheckDestacados">Destacados</label>
                            </div>
                        </div>


                        <div class="col-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheckActivo" [(ngModel)]="activoCheck">
                                <label class="custom-control-label" for="customCheckActivo">Activo</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <!-- Combo de los Talles -->
                        <div class="col-12 col-md-6">
                            <label style="font-size: x-large;">Talle</label>
                            <ul>
                                <span *ngFor="let talle of talles;"> 
                                    <input type="checkbox" [(ngModel)]="talle.seleccionado" class="ml-2">
                                    {{talle.valor}}
                                </span>
                            </ul>
                        </div>
                        <!-- Combo de los Colores -->
                        <div class="col-12 col-md-6">
                            <label style="font-size: x-large;">Color</label>
                            <ul>
                                <span *ngFor="let color of colores;"> 
                                    <input type="checkbox" [(ngModel)]="color.seleccionado" class="ml-2" >
                                    {{color.valor}}
                                </span>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <!-- Combo de las Categorias -->
                        <div class="col-12">
                            <label style="font-size: x-large;">Categorías</label>
                            <ul>
                                <span *ngFor="let categoria of categorias;"> 
                                    <input type="checkbox" [(ngModel)]="categoria.seleccionada" class="ml-2" >
                                    {{categoria.nombre}}
                                </span>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <!-- Selector de Precio Hasta -->
                        <div class="col-6">
                            <label class="pr-2" style="font-size: x-large;">Precio hasta</label>
                            <input type="range" name="rangeInput" min="0" max="10000" step="100" [(ngModel)]="filtroPrecioHasta" onchange="updateTextInput(this.value);">
                            <input type="text" id="filtroPrecio" value="5000" style="width: 50px; border: none;">

                            <!--input type="range" name="ageInputName" id="ageInputId" value="24" min="1" max="100" oninput="ageOutputId.value = ageInputId.value">
                            <output name="ageOutputName" id="ageOutputId">24</output -->
                        </div>
                        <!-- Combo de Ordenar por: -->
                        <div class="col-6">
                            <label style="font-size: x-large;">Ordenar por:</label>
                            <select class="custom-select" (change)="selectOrden($event.target.value)" [(ngModel)]="ordenarPor">
                                <option value="undefined" selected ></option>
                                <option value="0" selected >Menor precio</option>
                                <option value="1" selected >Mayor precio</option>
                            </select>
                        </div>
                    </div>
                    <hr class="m-0 m-md-2">
                </div>
            </div>
            <div class="row d-flex justify-content-center ">
                <div class="mt-3 mb-3 col-6">
                    <button type="button" (click)="buscar(true)" class="cart_button"><span class="fa fa-search mr-2"></span> Buscar </button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-sm-responsive">
        <thead>
            <tr>
                <th scope="col" class="">ID</th>
                <th scope="col" class="align-right">Nombre</th>
                <th scope="col" class="align-right">Precio</th>
                <th scope="col" class="align-right">En oferta</th>
                <th scope="col" class="align-right">Peso</th>
                <th scope="col" class="align-right">Activo</th>
                <th scope="col" class="align-right">Destacado</th>
                <th scope="col" class="align-right">Descuento</th>
                <th scope="col" class="align-right">Descripcion</th>
                <th scope="col" class="align-right">Marca</th>
                <th scope="col" class="align-right">Categoria</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articulo of articulos">
                <td class="align-items-center">{{articulo.id}}</td>
                <td class="align-items-center">{{articulo.nombre}}</td>
                <td class="align-right">{{articulo.precioVenta | currency:'UYU'}}</td>
                <td class="align-items-center">{{articulo.enOferta | yesNo}}</td>
                <td class="align-items-center">{{articulo.peso}}</td>
                <td class="align-items-center">{{articulo.activo | yesNo}}</td>
                <td class="align-items-center">{{articulo.destacado | yesNo}}</td>
                <td class="align-items-center">{{articulo.descuento}}</td>
                <td class="align-items-center">{{articulo.descripcion}}</td>
                <td class="align-items-center">{{articulo.marca}}</td>
                <!--td class="align-items-center">{{articulo.categoria.nombre}}</td-->
                <!--td><button type="button" (click)=verImagenArticulo(articulo.imagenes[0].url) class="btn btn-dark btn-sm ">Edit</button></td-->
                <td><button type="button" (click)=getArticuloAModificar(articulo.id) class="btn btn-dark btn-sm ">Edit</button></td>
            </tr>
        </tbody>
        <!--pagination-controls *ngIf="listaCompras.length > 5" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls-->
    </table>


    <div style="margin-left: auto; margin-right: auto;">
        <div class="col-lg-8 align-content-center" style="width: 100%; margin: 0 auto;">
            <div class="card">
                <div class="card-header"><strong>Complete el formulario</strong> </div>
                <div class="card-body">
                    <form (ngSubmit)="form.reset()" #form="ngForm" novalidate="" class="form-horizontal">

                        <div *ngIf="visible" class="form-group row">
                            <label class="col-md-2 col-xl-2 col-form-label">ID</label>
                            <div class="col-md-9">
                                <input readonly="readonly" type="text" class="form-control" id="id" placeholder="Id" name="id" [(ngModel)]="articuloId" #id="ngModel">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-xl-2 col-form-label">Nombre</label>
                            <div class="col-md-9 col-xl-9">
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" [(ngModel)]="nombreArt" required #nombre="ngModel">
                            </div>
                            <div *ngIf="nombre.invalid && nombre.touched" class="alert alert-danger">
                                Dato requerido
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Descripción</label>
                            <div class="col-md-9">
                                <textarea type="text" class="form-control" id="descripcion" placeholder="Descripcion" name="descripcion" [(ngModel)]="descripcionArt" #descripcion="ngModel"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Precio</label>
                            <div class="controls col-md-9">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="text" class="form-control" id="precio" placeholder="Precio" name="precio" [(ngModel)]="precioArt" required #precio="ngModel">
                                    <div class="input-group-append"><span class="input-group-text">.00</span></div>
                                </div>
                                <div *ngIf="precio.invalid && precio.touched" class="alert alert-danger">
                                    Dato requerido
                                </div>
                            </div>
                        </div>

                        <div class="form-group custom-checkbox row">
                            <label class="col-md-2 col-form-label">Activo</label>
                            <div class="col-md-9" style="margin-left: 25px; margin-top: 7px;">
                                <input name="activo" [(ngModel)]="activoArt" #activo="ngModel" type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Activo</label>
                            </div>
                        </div>

                        <div class="form-group custom-checkbox row">
                            <label class="col-md-2 col-form-label">Destacado</label>
                            <div class="col-md-9" style="margin-left: 25px; margin-top: 7px;">
                                <input name="destacado" [(ngModel)]="destacadoArt" #destacado="ngModel" type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Destacado</label>
                            </div>
                        </div>

                        <div class="form-group custom-checkbox row">
                            <label class="col-md-2 col-form-label">En Oferta</label>
                            <div class="col-md-9" style="margin-left: 25px; margin-top: 7px;">
                                <input name="enOferta" [(ngModel)]="enOfertaArt" #enOferta="ngModel" type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">En Oferta</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Descuento</label>
                            <div class="controls col-md-9">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="text" class="form-control" id="descuento" placeholder="Descuento" name="descuento" [(ngModel)]="descuentoArt" #descuento="ngModel">
                                    <div class="input-group-append"><span class="input-group-text">.00</span></div>
                                </div>
                                <div *ngIf="descuento.invalid && descuento.touched" class="alert alert-danger">
                                    Dato requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Marca</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="marca" placeholder="Marca" name="marca" [(ngModel)]="marcaArt" #marca="ngModel">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Peso (Kg)</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="peso" placeholder="Peso" name="peso" [(ngModel)]="pesoArt" #peso="ngModel">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Categoria *</label>
                            <select id="categoria" placeholder="categoria" name="categoria" #categoria="ngModel" required style="margin-left: 15px;" class="custom-select col-md-8" (change)="selectFiltro($event.target.value)" [(ngModel)]="filtroCategoria">
                                <option value="undefined" selected >Elige una categoría</option>
                                <option required [value]="categoria.id" *ngFor="let categoria of listaCategorias;">{{categoria.nombre}}</option>
                            </select>
                            <div *ngIf="categoria.invalid && categoria.touched" class="alert alert-danger">
                                Dato requerido
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Talle *</label>
                            <select id="talle" placeholder="talle" name="talle" #talle="ngModel" required style="margin-left: 15px;" class="custom-select col-md-8" (change)="selectFiltroTalle($event.target.value)" [(ngModel)]="filtroTalle">
                                <option value="undefined" selected >Elige el talle</option>
                                <option required [value]="talle.valor" *ngFor="let talle of talles;">{{talle.valor}}</option>
                            </select>
                            <div *ngIf="talle.invalid && talle.touched" class="alert alert-danger">
                                Dato requerido
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Color *</label>
                            <select id="color" placeholder="color" name="color" #color="ngModel" required style="margin-left: 15px;" class="custom-select col-md-8" (change)="selectFiltroColor($event.target.value)" [(ngModel)]="filtroColor">
                                <option value="undefined" selected >Elige el color</option>
                                <option required [value]="color.valor" *ngFor="let color of colores;">{{color.valor}}</option>
                            </select>
                            <div *ngIf="color.invalid && color.touched" class="alert alert-danger">
                                Dato requerido
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Cantidad</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="cantidad" placeholder="Cantidad" name="cantidad" [(ngModel)]="cantidadArt" #cantidad="ngModel">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Imagenes (Maximo 5) *</label>
                            <div class="col-md-9" style="margin-top: 15px;">
                                <input accept="image/jpg, image/jpeg, image/png" (change)="createFormData($event)" multiple #file name="file" type="file" class="form-control-file" id="file">
                            </div>
                        </div>
                        <div class="col-lg-12 " style="display: flex;justify-content: center;align-items: center; ">
                            <div style="width: 120px; ">
                                <button type="button " (click)=modificarArticulo(form.value) class="btn btn-dark btn-sm ">Modificar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let dato of imagenes " class="card " style="width: 20rem; ">
        <img [src]="API_URL_IMAGE + dato.url " width="100% ">
        <button type="button " class="btn btn-dark btn-sm " (click)="borrarImagen(dato.id, dato.url) ">Borrar img</button>
    </div>

</div>