<div class="top-head pt-1 " *ngIf="verHeader == true">
    <div class="row ">
        <div class="col-6 col-md-4 text-left">
            <a class="navbar-brand" href="#">
                <img src="../../../../assets/img/logo.png" width="150px" alt="Logo">
            </a>
        </div>
        <div class="col-4 pt-2 d-none d-md-inline text-center">
            <a class="navbar-brand" href="#">
                <img src="../../../../assets/img/logo2.png" width="150px" alt="Logo">
                <p>eCommerce demo</p>
            </a>
        </div>
        <div class="col-6  col-md-4 text-right">
            <ul class="list-inline ">
                <div *ngIf="estaLogueado();">
                    <li class="list-inline-item"> Hola {{nombreUsuario}}!</li>
                </div>
            </ul>
            <ul class="list-inline ">
                <li><small><span class="fa fa-shopping-bag mr-2"></span>Cómo comprar</small></li>
                <li><small><span class="fa fa-question mr-2"></span>Preguntas frecuentes</small></li>
            </ul>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-sm bg-light border navbar-light sticky-top mb-2 justify-content-end">
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item" style="text-align: ent" *ngIf="verHeader == false">
                <a class="nav-link" [routerLink]="['/home']">Volver</a>
            </li>
            <li class="nav-item" *ngIf="true" style="text-align: end">
                <a class="nav-link" [routerLink]="['/buscar']" [queryParams]="{ ofertas: true }">Ofertas</a>
            </li>
            <li class="nav-item" *ngIf="true" style="text-align: end">
                <a class="nav-link" [routerLink]="['/buscar']" [queryParams]="{ destacados: true }">Destacados</a>
            </li>
            <li class="nav-item" *ngIf="true" style="text-align: end">
                <a class="nav-link" [routerLink]="['/buscar']">Buscar</a>
            </li>
            <li class="nav-item" *ngIf="!estaLogueado();" style="text-align: end">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item" *ngIf="estaLogueado();" style="text-align: end">
                <a class="nav-link" [routerLink]="['/mis-compras']">Mis compras</a>
            </li>
            <li class="nav-item" *ngIf="estaLogueadoAdmin();" style="text-align: end">
                <a class="nav-link" [routerLink]="['/nuevo-articulo']">Nuevo articulo</a>
            </li>
            <li class="nav-item" *ngIf="estaLogueadoAdmin();" style="text-align: end">
                <a class="nav-link" [routerLink]="['/listado-articulos']">Listado articulos</a>
            </li>
            <li class="nav-item" *ngIf="estaLogueado();" style="text-align: end">
                <a class="nav-link" [routerLink]="['/miCuenta']">Mi cuenta</a>
            </li>
            <li class="nav-item dropdown" style="text-align: end">
                <!--  -->
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <img src="../../../../assets/img/carrito.png" alt="Carrito de compras">
                    <span class="badge badge-secondary ml-2">{{carrito.items.length}}</span>
                </a>
                <ul class="dropdown-menu dropdown-cart" role="menu" style="left: -170px;">

                    <li *ngFor="let item of carrito.items; let i = index;">
                        <span class="item">
                          <span class="item-left">
                              <img class="mt-1" src="../../../assets/articulos{{item.producto.imagenes[0].url}}" width="30px" alt="" />
                              <span class="item-info">
                                  <span>{{item.nombre}}</span>
                        <span>$ {{item.precio}}</span>
                        </span>
                        </span>
                        <span class="item-right">
                              <button class="btn btn-xs btn-danger pull-right mt-1" (click)="eliminar(i);" ><span class="fa fa-trash"></span></button>
                        </span>
                        </span>
                    </li>

                    <li class="divider"></li>
                    <li style="text-align: center;">
                        <hr style="width: 90%"><a style="text-decoration: none;" [routerLink]="['/carrito']" *ngIf="hayDatos();">Ver carrito</a></li>
                    <li style="text-align: center;"><label *ngIf="! hayDatos();">El carrito está vacío</label></li>
                </ul>

            </li>
            <li class="nav-item" *ngIf="estaLogueado();" style="text-align: end">
                <a class="nav-link" [routerLink]="['/']" (click)="salir();">Salir</a>
            </li>
        </ul>
    </div>
</nav>