<app-navbar [verHeader]="true"></app-navbar>


<div class="carousel-inner mb-2" role="listbox" [routerLink]="['/buscar']" [queryParams]="{ ofertas: true }">
    <div class="carousel-item active">
        <img class="d-block w-100" data-src="holder.js/900x300?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [900x300]" src="../../../../assets/img/c1.jpg" data-holder-rendered="true">
        <div class="carousel-caption d-bloc" style="padding-top: 10px;">
            <h3 class="responsive-text  m-0 p-0">Ofertas</h3>
            <p class="responsive-text  m-0 p-0">Aprovechá estas ofertas que tenemos para vos!.</p>
        </div>
    </div>
    
</div>

<div class="carousel-inner mb-2" role="listbox" [routerLink]="['/buscar']" [queryParams]="{ destacados: true }">
    <div class="carousel-item active">
        <img class="d-block w-100" data-src="holder.js/900x300?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [900x300]" src="../../../../assets/img/c2.gif" data-holder-rendered="true">
        <div class="carousel-caption d-md-block" style="padding-top: 10px;">
            <h3 class="responsive-text m-0 p-0">Destacados</h3>
            <p class="responsive-text m-0 p-0">Mirá nuestra selecta lista de artículos destacados.</p>
        </div>
    </div>
    
</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="mt-5 mb-3">Segionos en nuestras redes</p>
            <ul class="social-network social-circle">
                <li><a href="" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <p class="m-3">O visitanos en nuestro local</p>		
            <ul>
                <li><label>Av. 18 de Julio 1730 esquina Gaboto</label></li>
                <li><label>Galeria del Notariado, local 32</label></li>
                <li><label>Lunes a Viernes de 9 a 18</label></li>
                <li><label>Sábados de 9 a 13</label></li>
            </ul>		
        </div>
      <div class="col-12 col-md-6  mt-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.1345185985206!2d-56.18097838518437!3d-34.90307358090495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81b5181c0c77%3A0x73adca8a6c2aee57!2sGaler%C3%ADa%20Del%20Notariado!5e0!3m2!1ses!2suy!4v1597369175092!5m2!1ses!2suy" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

      </div>
    </div>
  </div>



<app-footer></app-footer>