<app-navbar [verHeader]="true"></app-navbar>


<div class="carousel-inner mb-2" role="listbox" [routerLink]="['/buscar']" [queryParams]="{ ofertas: true }">
    <div class="carousel-item active">
        <img class="d-block w-100" data-src="holder.js/900x300?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [900x300]" src="../../../../assets/img/c1.jpg" data-holder-rendered="true">
        <div class="carousel-caption d-none d-md-block">
            <h3>Ofertas</h3>
            <p>Aprovechá estas ofertas que tenemos para vos!.</p>
        </div>
    </div>
    
</div>

<div class="carousel-inner mb-2" role="listbox" [routerLink]="['/buscar']" [queryParams]="{ destacados: true }">
    <div class="carousel-item active">
        <img class="d-block w-100" data-src="holder.js/900x300?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [900x300]" src="../../../../assets/img/c3.jpg" data-holder-rendered="true">
        <div class="carousel-caption d-none d-md-block">
            <h3>Destacados</h3>
            <p>Mirá nuestra selecta lista de artículos destacados.</p>
        </div>
    </div>
    
</div>




<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26195.149631276825!2d-56.01587545174855!3d-34.84633354541303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2suy!4v1596479692275!5m2!1ses!2suy" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

<app-footer></app-footer>